#root {
  display: flex;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  margin: 30px;
  border-radius: 30px;
  border: 1px solid #8f8f8f;
}

.pad {
  position: relative;
  margin: 30px;
  padding: 20px;
  border: 1px solid #8f8f8f;
  border-radius: 30px;
  flex-grow: 1;
}

.title {
  text-align: center;
  font-size: 40px;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #8f8f8f;
  width: 80%;
  margin: 0 auto;
}

.lists {
  height: 100%;
  width: 80%;
  margin: 20px auto;
  overflow: scroll;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  background-color: lightcoral;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.add {
  text-align: center;
  font-size: 35px;
  height: 50px;
  width: 50px;
  background-color: #cecece;
  margin: 30px auto;
  vertical-align: middle;
}

.note {
  display: inline-block;
  position: absolute;
  min-width: 120px;
  min-height: 100px;
  background-color: #f1abab;
  border: 1px solid #8f8f8f;
  resize: both;
  overflow: auto;
}

.top_bar {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  background-color: lightcoral;
}

.top_bar div {
  font-size: 20px;
  margin: 0 8px 5px 5px;
}

textarea {
  display: block;
  border: none;
  padding: 10px;
  font-size: 18px;
  background-color: transparent;
  resize: none;
}

textarea:focus {
  outline: none;
}
